#clock {
  min-width: 50px;
  background-color: rgba(30,30,46,.5);
  padding-left: 10px;
  padding-right: 10px;
}
#workspaces {
  font-size: 10px;
  background-color: rgba(30,30,46,.5);
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
#window {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(30,30,46,.5);
}
.bar1 {
  background-color: rgba(30,30,46,0)
}

* {
  border-radius: 10px;
}
